xml/student.dtd

<!ELEMENT student-records (student)+>

<!ELEMENT student (first-name,middle-name,last-name,preferred-name,student-id,email,phone,year,gpa,major+,minor+,status,advisor,date-of-enrollment,date-of-graduation)>

<!ELEMENT first-name (#PCDATA)>
<!ELEMENT middle-name (#PCDATA)>
<!ELEMENT last-name (#PCDATA)>
<!ELEMENT preferred-name (#PCDATA)>
<!ELEMENT student-id (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT gpa (#PCDATA)>
<!ELEMENT major (#PCDATA)>
<!ELEMENT minor (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT advisor (#PCDATA)>
